[submodule "src/externals/CLAM"]
	path = src/externals/CLAM
	url = https://github.com/mahmoodlab/CLAM.git
[submodule "src/externals/ViLa-MIL"]
	path = src/externals/ViLa-MIL
	url = https://github.com/Jiangbo-Shi/ViLa-MIL.git
[submodule "src/externals/CONCH"]
	path = src/externals/CONCH
	url = https://github.com/mahmoodlab/CONCH.git
[submodule "src/externals/quilt1m"]
	path = src/externals/quilt1m
	url = git@github.com:wisdomikezogwo/quilt1m.git
